@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --primary-color: #040D12;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #c04747;
    --secondary-color-dark: #3e8837;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.section_subheader{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-light);
}

#Container{
    padding-left: 0;
    padding-right: 0;
}

img{
    width: 100%;
    display: flex;
}

.logo{
    width: 100px;
    position: relative;
    left: 20px;
}

#navbarNav{
    padding: 30px;
} 

.navbar{
  background-color: transparent;

}

#btn{
    background-color: #c04747;
    border: none;
}

#btn:hover{
    background-color: #883434;
}

a{
    text-decoration: none;
}

.bg_blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #040D12 !important;
}


